manifest {
    name = 'MAG-Simple'
    author = 'John Sterrett'
    description = 'A simple Nextflow pipeline for metagenomics assembly'
    version = 'v1.0.0'
}


// Define pipeline parameters
params {
    metadata    = './work/metadata.csv'
    adapters    = './work/ref/adapters.fa'
    host_genome = './work/ref/host_genome.fasta' // Default path to host genome
    host_index  = './work/ref/host_index/.*.ebwt' // Default path to host genome index
}

// Define process-level resources (adjust as needed)
process {
    withName: FASTP {
        cpus = 4
        memory = '16GB'
        time = '2h'
    }

    withName: FASTQC {
        cpus = 2
        memory = '4GB'
        time = '1h'
    }

    withName: BOWTIE2_ALIGN {
        cpus = 4
        memory = '8GB'
        time = '2h'
    }

    withName: PROKKA {
        cpus = 4
        memory = '16GB'
        time = '4h'
    }
}

// Define execution profiles
profiles {
    standard {
        process.executor = 'local'
        conda.enabled = true
    }

    conda {
        process.executor = 'local'
        conda.enabled = true
    }

    cluster {
        process.executor = 'slurm' // Change to 'pbs' or 'sge' if needed
        process.queue = 'short'
        process.memory = '32GB'
        process.cpus = 8
        conda.enabled = true
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
    }
}
